<!DOCTYPE>
<html>
    <body>
    <a href="/e08/create/"><button> Create table persons </button></a>
    {{error}}
    {% if buttons == true %}
    <a href="/e08/create/tables"><button> Create table bank_account and addresses </button></a>
    {% endif %}
    </body>
</html>